@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,200&display=swap');


body {
    font-family: poppins, sans-serif;
    margin: 0;
    padding: 0; 
}
.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    width: 200px;
    box-sizing: border-box;
    height: 100vh; 
    position: fixed; 
}

.sidebar h2 {
    margin-bottom: 20px;
}


.sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border-bottom: 1px solid #555;
    cursor: pointer;
}

.sidebar a:hover {
    background-color: #555;
}

.content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 200px; 
}

header {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    text-align: center;
}
.title{
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
}
/* Apply basic styling to the form */
form {
    width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f8f8f8;
  }
  
  /* Style the fieldset and legend */
  fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 15px;
  }
  
  legend {
    font-weight: bold;
    text-transform: uppercase;
    color: #000000;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  select{
    padding: 8px;
    width: 100%;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  /* Style the submit button */
  .btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
