/* Reset some default styles to ensure consistency */
body, h1, h2, p, a {
  margin: 0;
  padding: 0;
}

/* Apply a background color to the body */
body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  overflow-y: hidden;
}

/* Container styling */
.container {
  display: flex;
}

/* Sidebar styling */
.sidebar {
  background-color: #333;
  color: #fff;
  padding: 20px;
  min-width: 200px;
  height: 100vh; /* Set height to 100% of viewport height */
}

.sidebar h2 {
  margin-bottom: 10px;
  color: #f0f0f0;
}

.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px 0;
}

.sidebar a:hover {
  background-color: #555;
}


/* Content styling */
.content {
  flex: 1;
  padding: 20px;
}

/* Header styling */
header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

/* Main section styling */
.main {
  display: flex;
  flex-wrap: wrap;
}

/* Card styling */
.card {
  background-color: #f0f0f0; /* Light gray background */
  border: 1px solid #ccc; /* Light border color */
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  flex: 1 1 calc(33.333% - 20px);
}

/* Admin card styling */
.admin {
  background-color: #3498db; /* Blue color */
  color: #fff; /* White text color */
}

/* Booking card styling */
.booking {
  background-color: #f39c12; /* Orange color */
  color: #fff; /* White text color */
}

/* Flights card styling */
.flights {
  background-color: #2ecc71; /* Green color */
  color: #fff; /* White text color */
}

/* Hotels card styling */
.hotels {
  background-color: #e74c3c; /* Red color */
  color: #fff; /* White text color */
}

/* Heading (h2) styling */
h2 {
  color: #333;
}

/* Paragraph (p) styling */
p {
  color: #fff; /* White text color for better readability */
}

/* Link (a) styling */
a {
  color: #007bff;
  text-decoration: none;
}

/* Arrow character styling */
.arrow {
  font-size: 20px;
  margin-left: 5px;
}

/* Hover effect for links */
a:hover {
  text-decoration: underline;
}
